services:
  mongodb:
    image: mongo:7.0
    container_name: vaas-mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: template_engine
    volumes:
      - mongo_data:/data/db

  kafka:
    # Usando a imagem da Apache Kafka (oficial) que é muito estável para resolução de DNS
    image: apache/kafka:3.7.0
    container_name: vaas-kafka
    ports:
      - "9092:9092"
    environment:
      # Configurações para rodar em modo KRaft (sem Zookeeper, mais moderno)
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0

  kafdrop:
    image: obsidiandynamics/kafdrop:latest
    container_name: vaas-kafdrop
    ports:
      - "9000:9000"
    environment:
      KAFKA_BROKERCONNECT: kafka:9092
    depends_on:
      - kafka

volumes:
  mongo_data: