name: Java CI with Gradle

on:
  push:
    branches: [ "main", "feat/*" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      # O Testcontainers se encarregará de subir o Mongo e o Kafka
      # Não precisamos mais de docker-compose up nem de sleep 20 aqui.
      - name: Build and Test with Gradle
        run: ./gradlew build